.grid-container{
    margin: 1em;
    
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    
}

.grid-column{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    margin: 0.5em 0;
}
